/* *{
padding: 0;
margin: 0;
box-sizing: border-box;

}

body{borer
     background: red;
     
} */

/* @media (max-width:${({theme})=> theme.media.mobile}) {
     display: inline-block; 
     z-index: 9999;
     border: ${({theme})=>theme.colors.black}
    */

.mcdsv {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
  padding: 0 3rem 0 0;
  grid-template-columns: 0.4fr 1fr;
 }